<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height:400px;width:100%;">
            <img src="/static/images/book4.jpg" class="d-block w-100" alt="book1"
                style=" object-fit: cover;width: 100%; height: 100%;">
        </div>
        <div class="carousel-item" style="height:400px;width:100%;">
            <img src="/static/images/book2.jpg" class="d-block w-100" alt="book2"
                style=" object-fit: cover;width: 100%; height: 100%;">
        </div>
        <div class="carousel-item" style="height:400px;width:100%;">
            <img src="/static/images/book3.jpg" class="d-block w-100" alt="book3"
                style=" object-fit: cover;width: 100%; height: 100%;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>